{% extends 'core/base.html' %}

{% block contenido %}
<div class="container" style="text-align: center;">
    <h1>Asignar Roles</h1>
    <div style="margin: 0 auto; display: flex; justify-content: center;">
        <br><br><br>
        <div style="width: 50%; margin-right: 20px;">
            <form method="post" style="display: inline-block; width: 100%;">
                {% csrf_token %}
                <label for="usuario" style="display: block; text-align: left;">Seleccione un usuario:</label>
                <select name="usuario_id" id="usuario" style="width: 100%;" onchange="this.form.submit()">
                    <option value="">-- Seleccione --</option>
                    {% for usuario in usuarios %}
                        <option value="{{ usuario.id }}" {% if usuario.id|stringformat:"s" == request.GET.usuario_id %}selected{% endif %}>{{ usuario.username }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <label for="accion" style="display: block; text-align: left;">Acción:</label>
                <select name="accion" id="accion" style="width: 100%;">
                    <option value="agregar" {% if request.POST.accion == "agregar" %}selected{% endif %}>Agregar Rol</option>
                    <option value="quitar" {% if request.POST.accion == "quitar" %}selected{% endif %}>Quitar Rol</option>
                </select>
                <br><br>
                <label for="rol" style="display: block; text-align: left;">Seleccione un rol:</label>
                <select name="nuevo_rol" id="rol" style="width: 100%;">
                    <option value="">-- Seleccione --</option>
                    {% for grupo in grupos %}
                        <option value="{{ grupo.name }}" {% if grupo.name == request.POST.nuevo_rol %}selected{% endif %}>{{ grupo.name }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <button type="submit" style="background-color: #007bff; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; width: 100%;">Actualizar Rol</button>   
            </form>
        </div>

        <div id="roles_usuario_div" style="width: 40%; margin-left: 20px; {% if roles_usuario %} display: block; {% else %} display: none; {% endif %}">
            {% if roles_usuario %}
                <h3>Roles actuales del usuario:</h3>
                <ul>
                    {% for rol in roles_usuario %}
                        <li>{{ rol }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
    </div>

    {% if messages %}
        <ul style="margin-top: 20px;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
