{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<!--================ End Header Menu Area =================--> 
<!-- ================ start banner area ================= -->    
<!-- ================ end banner area ================= -->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="single-prd-item">
                    <img class="img-fluid" src="{{ producto.imagen_url }}" alt="">
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3> {{ producto.nombre }}</h3>
                    <h2>${{ producto.precio }}</h2>
                    <ul class="list">
                        <li><span>Stock</span>: {{ producto.stock }}</li>
                    </ul>
                    {% if user.is_authenticated %}
                    <p><a class="button primary-btn" href="{% url 'cartadd' producto.id %}">Añadir al carro</a></p>
                    {% else %}
                    <p><a class="button primary-btn" href="{% url 'login' %}">Añadir al carro</a></p>
                    {% endif %}
                    <div class="card_area d-flex align-items-center">
                        {% if user.is_authenticated %}
                        <button type="button" class="btn btn-primary" id="myBtn" style="background-color: blue;"><i class="ti-heart"></i> </button>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
