<!-- En transferencia_bancaria.html -->

{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
    <h2 class="mb-4">Subir Comprobante de Transferencia Bancaria</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_comprobante_transferencia">Subir archivo:</label>
            <input type="file" class="form-control-file" id="id_comprobante_transferencia" name="comprobante_transferencia">
        </div>
        <button type="submit" class="btn btn-primary">Enviar Comprobante</button>
    </form>
</div>
{% endblock %}